<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <!-- Bootstrap CDN  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Diary</title>
    <style>
        html,
        body {
            font-family: 'Recursive', sans-serif;
            /* font-size: larger; */
            background-color: white;
            background-image: url("/images/img_home.jpg");
            height: 100%;
            /* You must set a specified height */
            background-position: center;
            /* Center the image */
            background-repeat: no-repeat;
            /* Do not repeat the image */
            background-size: 100%;
        }


        .bt {
            color: white;
            border: 1px solid rgb(233, 230, 230);

        }

        .bt:hover {
            color: black;
            background-color: rgb(173, 170, 155, 0.3);
            border: 1px solid rgb(233, 230, 230);

        }

        .clr {
            color: white;
            background-color: rgb(238, 237, 242, 0.5);
            border: 1px solid rgb(233, 230, 230);
        }

        .wndr {
            color: white;
        }
    </style>
</head>

<body>

    <!-- navbar  -->
    <nav class="navbar navbar-expand-lg navbar-light p-4">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <!-- <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link h2" href="/logout">Logout</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/unshared">Unshared</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar end  -->


    <div class="container">
        <h2 class="text-center p-4 wndr">Here are your wonderful THOUGHTS !!
            <button type="button" class="btn bt" data-bs-toggle="modal" data-bs-target="#addModal">
                Add your Thought
            </button>
        </h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

            <%if(data.length!=0){%>
                <%data.forEach((unshared)=>{%>
                    <div class="col mb-3">
                        <div class=" d-flex flex-column shadow p-4 h-100 clr">
                            <h4 class="p-3 text-center text-dark">
                                <%= unshared.title%>
                            </h4>
                            <p class="text-dark">Date :<%=moment(unshared.ceated).format('YYYY-MM-DD hh:mm A')%>
                            </p>
                            <p>
                                <%= unshared.description%>
                            </p>
                        </div>
                    </div>
                    <% })%>
                        <% }%>
        </div>
    </div>

    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        Add your New Thought
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/unshared/add">
                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">

                        <div class="mb-3">
                            <label for="title" class="col-form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title" />
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description</label>

                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <input type="submit" class="btn btn-dark" value="Add This Thought" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

</body>

</html>